.container {
  background-color: var(--gray);
  padding: 1em;
  display: flex;
  gap: 0.5em;

}

.container>input {
  font-size: 16px;
  padding: 0.5em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.container>input:focus {
  outline: none;
}

.container>button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.container>button:focus {
  background-color: inherit;
  color:inherit;
}
.container>button>svg {
  color: var(--tealGreen)
}

@media(min-width:1200px) {
  .container {
    padding: 0.5em 1em;
  }

  .container>input {
    font-size: 1.1rem;
    padding: 0.5em 1em;
  }
}