.infoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.infoContainer>span:first-child {
  font-size: 1.1rem;
}

.infoContainer>span:last-child {
  font-size: .85em;
  color: rgb(112, 112, 112);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

@media(min-width:550px){
  .infoContainer>span:last-child{
    width:300px
  }
}

@media(min-width:1000px){
  .infoContainer>span:last-child{
    width:400px
  }
}

@media(min-width:1450px){
  .infoContainer>div>span:last-child{
    width:500px;
  }
}