.usersContainer {
  max-height: 350px;
  overflow: auto;
  display: grid;
  gap: 1em;
  padding: 1em;
}

.user {
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .5em;
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--gray);
  color: black;
}

@media(min-width:600px) {
  .usersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width:1100px) {
  .usersContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}