.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoContainer>span:first-child {
  font-size: 1.1rem;
}

.infoContainer>span:last-child {
  font-size: .85em;
  color: rgb(112, 112, 112)
}