.container {
  display: flex;
  flex-direction: column;
}

.date {
  text-align: center;
  align-self: center;
  padding-top: 1.5em;
}

.messageContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid #DCF8C6;
  background-color: #DCF8C6;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: .5em;
  max-width: 90%;
  margin-top: 0.2em;

}
.messageData {
  display: flex;
  gap: 0 .5em;
  justify-content: space-between;
  margin-top: 0.2em;
  border: 1px solid #DCF8C6;
  background-color: #DCF8C6;  
}

.messageData>p {
  font-size: .9rem;
  word-break: break-all;
}

.messageData>div {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  gap: .3em;

}

.messageData>div>span{
  font-size: .75rem;
  color: rgb(112, 112, 112);
  padding-top: .5em;
}

.messageUsername{
  font-size: .9rem;
}


@media(min-width:550px) {

  .messageContainer {
    margin: 0.2em 0.5em 0 0.5em
  }
}

@media(min-width:1200px) {

  .messageContainer {
    margin: 0.2em 1.5em 0 1.5em;
    max-width: 80%;
  }
}

@media(min-width:1700px) {

  .messageContainer {
    margin: 0.2em 3em 0 3em;
  }
}